.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.logoWrapper{
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.logoWrapper p {
  padding: 0 0.5rem;
}

.logo{
  height: 100%;
}

.MainText{
  font-size: 2rem;
  font-weight: bold;
}

.meme{
  height: 25rem;
  width: 25rem;
}